button {font-size: 80px;}
button:active {background-color: white;}

.scb1 {background-color: #FCE4B4; width: 100px; transition-duration: 0.1s;}
.scb2 {background-color: #0494EC; width: 100px; transition-duration: 0.1s;}
.scb3 {background-color: #BC84DC; width: 100px; transition-duration: 0.1s;}
.scb4 {background-color: #74BB43; width: 100px; transition-duration: 0.1s;}
.scb5 {background-color: #B3240B; width: 100px; transition-duration: 0.1s;}

.confirm {width: 200px;}

.container {display: flex;}
.column {flex: 50%;}